/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Commons */

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, .title-font {
    font-family: 'Amatic SC', cursive;
}

.container {
    width: 992px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #8B0000;
}
a:hover {
    text-decoration: underline;
}


/* Header */

header {
    background: url(/img/octopus-header.jpg) no-repeat center center;
    background-size: cover;
    padding: 120px 0;
}
header h1{
    text-align: center;
    font-size: 120px;
    color: #fff;
}
header #tagline {
    color: #fff;
    text-align: center;
    margin: 40px 20%;
    font-size: 20px;
}
header.article-header {
    padding: 30px 0;
}
header.article-header h1 {
    font-size: 60px;
}

nav {
    background-color: black;
    text-align: center;
}
nav a {
    color: #eee;
}

/* Layout */

#main {
    margin: 50px 0;
}


/* Articles */

article {
    margin-top: 100px;
}
article h2 {
    font-size: 40px;
    background: url(/img/maroon-bar-titles.png) repeat-x center center;
}
article h2 span {
    display: inline-block;
    padding-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: white;
}
article p {
    margin-bottom: 15px;
}
article .author-date {
    font-style: italic;
    text-align: right;
}
article .content {
    margin: 40px 60px;
}
article .read_more {
    font-style: italic;
    text-align: right;
}

/* Footer */

footer {
    margin-top: 150px;
    padding: 5px 0;
    background-color: black;
    color: #eee;
}
footer a {
    color: #eee;
}